build/
build-release/
dist/
engines/*
!engines/pikafish/
engines/pikafish/*
!engines/pikafish/Windows/
engines/pikafish/Windows/*
!engines/pikafish/Windows/*.exe
!engines/pikafish/pikafish.nnue
!engines/fairy-stockfish/
engines/fairy-stockfish/*
!engines/fairy-stockfish/*.exe
!engines/fairy-stockfish/variants.ini
!engines/fairy-stockfish-nnue/
engines/fairy-stockfish-nnue/*
!engines/fairy-stockfish-nnue/*.exe
engines/**/*.7z
*.obj
*.pdb
*.ilk
*.user
*.log
engine_in.txt
engine_out.txt
.vs/
.vscode/
